.social-info {
  padding-top: 3rem;

  .s-info-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #21407d47; 
  }

}
  