/* Define breakpoints */
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

.main {
  display: grid;
  grid-template-columns: 22% 78%;
  width: 100%;
  height: 100vh;
  background-color: #fbfbfb;

  .sidebar {
    background-color: #ffffff;
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.04);
    position: relative;
    overflow: hidden;
    transition: 0.5s transform ease-in;

    .nav-list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-top: 2.8rem;

      li.title {
        .name {
          color: #213f7d;
          margin-top: 0.2rem;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }

      li {
        margin: 10px 0;
        padding-left: 2.5rem;

        &:hover:not(.title) {
          background-color: #f3fcfc;
        }

        a {
          display: flex;
          text-decoration: none;
          padding: 1rem;
          font-size: 1.6rem;
          color: #213f7d;
          font-weight: 500;

          .name {
            color: #57698e !important;
            margin-top: 0.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: 'Work Sans', sans-serif;
          }

          .name.organization {
            font-size: 1.8rem;
          }

          .caret {
            margin-left: 0.5rem;
            margin-top: 0.8rem;
          }
          .icon {
            margin-right: 1.5rem;
            margin-top: 0.5rem;
            color: #cad1e0 !important;
          }
        }
      }

      li.active {
        .name {
          color: #213f7d !important;
        }
        background-color: #f3fcfc;
        border-left: 3px solid #39cdcc;
      }
    }
  }

  .sidebar.mobile {
    transform: translateX(-100%);
    width: 30rem;
    z-index: 1000;
  }

  .sidebar.visible {
    transform: translateX(0%);
  }

  .page {
    padding-left: 7.5rem;
    padding-top: 7.5rem;
    background-color: #fbfbfb;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 93%;
    padding-bottom: 15rem;
  }

  .page::-webkit-scrollbar {
    display: none;
  }
}

/* Styles for small screens */
@media (max-width: $breakpoint-small) {
  .main {
    .sidebar.mobile {
      width: 40rem;
    }

    grid-template-columns: 0% 100%;
    .page.mobile {
      margin: 0 auto;
      width: 96.5%;
      padding-left: 0rem;
      padding-right: 0rem;
      padding-bottom: 25rem;
      transform: scale(0.95);
    }
  }
}

/* Styles for medium screens */
@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
  .main {
    grid-template-columns: 0% 100%;
    .page.mobile {
      margin: 0 auto;
      width: 96.5%;
      padding-left: 0rem;
      padding-right: 0rem;
      padding-bottom: 25rem;
      transform: scale(0.95);
    }
  }
}
