.card {
    background-color: #ffffff;
    border-radius: 0.4rem;
    width: 24rem;
    height: 16rem;
    box-shadow: 2px 1px 5px  rgba(0, 0, 0, 0.08);
    padding: 2rem 0 0 3rem;
   
  
    .card-icon {
      margin-bottom: 1.4rem;
  
      img {
        width: 5rem;
        height: 5rem;
      }
    }
  
    .card-title {
      font-size: 1.6rem;
      color: #545F7D;
      margin-bottom: 1.2rem;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      
    }
  
    .card-value {
      font-size: 3rem;
      color: #213F7D;
      font-weight: 600;
    }
  }
  