/* Define breakpoints */
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

.search-input {
  max-width: 42.7em;
  display: flex;
  height: 4.2rem;
  align-items: center;
  border: 1px solid #efefef;
  border-radius: 0.8rem;
  overflow: hidden;

  ::placeholder {
    font-size: 1.4rem;
    font-weight: 500;
    color: #545F7D;
    font-family: "Work Sans", sans-serif;
  }

  .cont {
    flex: 0.9;
    height: 90%;
   
    input.input {
      padding: 0 2rem;
      margin: 0;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }

  .btn {
    display: flex;
    flex: 0.1;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #39cdcc;
    color: white;
    cursor: pointer;
  }
}

  /* Styles for small screens */
  @media (max-width: $breakpoint-small) {
    .search-input {
      max-width: 20rem;

      ::placeholder {
        font-size: 0.8em;
      }

      .cont {
        flex: 0.85;
        height: 90%;
       
        input.input {
          padding: 0 1rem;
        }
      }
      .btn {
        flex: 0.15
      }
    }
  }
  
  /* Styles for medium screens */
  @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    .search-input {
      max-width: 30rem;

      ::placeholder {
        font-size: 0.8em;
      }

      .cont {
        flex: 0.85;
        height: 90%;
       
        input.input {
          padding: 0 1rem;
          margin: 0;
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
        }
      }
      .btn {
        flex: 0.15
      }
    }
  }
  