.table-container {
  min-width: 115.7rem;

  table {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 0rem 0 3.5rem;
    border-radius: 0.4rem;


    tr:first-child > * {
      background-color: #fff !important;
    }

    thead {
      white-space: nowrap;

      > * {
        font-family: "Work Sans", sans-serif;
        margin-right: 5rem;
      }
    }

    th {
      padding-top: 2.1rem;
      padding-bottom: 2.3rem;
      text-align: left;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: #545f7d;
      max-width: 15.4rem;
      position: relative;
      font-weight: 500;
      font-family: "Work Sans", sans-serif;

      .filter-icon {
        display: inline-block;
        padding-left: 0.7rem;
        transform: translate(0.5rem, 0.3rem);
        font-size: 1.7rem;
        cursor: pointer;
      }

      .filter-form {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
        border-radius: 4px;
        z-index: 2;
        width: 25rem;
        padding: 1rem;
        display: none;

        &.active {
          display: flex;
          flex-direction: column;
        }

        .filter-btn-cont {
          display: flex;
          justify-content: space-between;
        }

        input {
          width: 95%;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        .table-select {
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        button.filter-btn {
          padding: 0.5rem 1rem;
          background-color: #39cdcc;
          color: #fff;
          border: none;
          border-radius: 0.4rem;
          cursor: pointer;
        }

        button.reset-btn {
          padding: 0.5rem 1rem;
          background-color: transparent;
          border: 1px solid #545f7d;
          color: #545F7D;
          border-radius: 0.4rem;
          cursor: pointer;
        }
      }
    }

    td {
      padding-top: 2.1rem;
      padding-bottom: 2.3rem;
      max-width: 15.4rem;
      text-align: left;
      border-bottom: 1px solid #21407d38;
      font-size: 1.4rem;
      color: #545f7d;
      font-weight: 400;
      font-family: "Work Sans", sans-serif;
    }

    th {
      background-color: #f4f4f4;
    }
  }

  .dropdown-cell {
    position: relative;
    transform: translateX(-3rem);

    .dropdown-menu {
      position: absolute;
      top: 125%;
      right: 3rem;
      transform: translateY(-50%);
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 1px solid #545f7d0d;
      border-radius: 4px;
      z-index: 1;
      width: 18rem;
      height: 13rem;
      background-color: #fff;

      .dropdown-item {
        padding: 1.2rem 1rem 1.4rem 2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 1rem;

        &:hover {
          background-color: #f4f4f4;
        }

        .icon {
          margin-right: 0.5rem;
        }

        .text {
          font-family: "Work Sans", sans-serif;
          font-weight: 500;
          font-size: 1.4rem;
        }
      }
    }
  }

  .table-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 0;

    .pagination {
      display: flex;
      button.next,
      button.prev {
        border: 1px solid #ccc;
        width: 2.4rem;
        height: 2.4rem;
        background-color: #213f7d26;
        border-radius: 0.4rem;
        text-align: center;
      }

      button.next {
        margin-top: 0.16rem;
        > * {
          margin-left: -0.7rem;
          margin-top: -0.1rem;
        }
      }
      button.prev {
        margin-top: 0.16rem;
        > * {
          margin-left: -0.5rem;
          margin-top: -0.1rem;
        }
      }

      button {
        margin: 0 5px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border: none;
        background-color: #fff;
        color: #545f7d;

        &.active {
          color: #171a23;
          font-weight: 600;
          
        }
      }
    }

    .rows-limit {
      display: flex;
      align-items: center;

      label {
        margin-right: 1rem;
        font-size: 1.4rem;
        color: #545f7d;
        font-family: "Work Sans", sans-serif;
      }

      select {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .rowsLimit2 {
        margin-left: 1rem;
        display: inline-block;
        font-family: "Work Sans", sans-serif;
        color: #545f7d;
        font-size: 1.4rem;
      }
    }
  }
}

.hide {
  position: absolute;
  background-color: transparent;
  width: 50%;
  height: 20rem;
  right: -30;
  top: 0;
  transform: translateX(200px);
}