/* Avenir Bold */
@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* Avenir Medium */
@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
}

/* Avenir Regular */
@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirNextCyr-Regular.ttf") format("truetype");
}

/* Avenir Light */
@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
}
